/* You can add global styles to this file, and also import other style files */

.custom-slider .ngx-slider .ngx-slider-bar {
  background: rgb(160, 160, 160);
  /* height: 2px; */
}

.custom-slider .ngx-slider .ngx-slider-selection {
  background: rgb(0, 0, 0);
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  /* width: 8px;
  height: 8px; */
  background-color: rgb(0, 0, 0);
}
